*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 85px 180px;
    gap: 60px;
}

.wrapper .item{
    background-color: #995DB5;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    display: flex;
    padding: 8px;
    gap: 8px;
    border: 1px solid black;
}

.kvad{
    background-color: #F7941F;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid black;
}

.item:nth-child(2){
    flex-direction: column;
}
.item:nth-child(3){
    flex-wrap: wrap;
    gap: 5px;
    align-content: baseline;
}
.item:nth-child(4){
    justify-content: space-between;
}
.item:nth-child(6){
    justify-content: end;
}
.item:nth-child(7){
    justify-content: center;
}
.item:nth-child(8){
    justify-content: space-between;
}
.item:nth-child(11){
    align-items: center;
}
.item:nth-child(12){
    justify-content: space-between;
}
.item:nth-child(10){
    align-items: end;
}
